* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #161e3f;
}

.container {
  display: flex;
  gap: 10px;
}

.outer-circle {
  height: 203px;
  width: 198px;
  border-radius: 50%;
  position: relative;
}

.inner-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 76px);
  left: calc(50% - 76px);
  height: 152px;
  width: 152px;
  border-radius: 50%;
  background-color: #dddddd;
  box-shadow: inset 0px 8px #babfd4;
}

.paper {
  background-color: #5873f5;
  box-shadow: inset 0px -9px #2a45c2;
}

.scissors {
  background-color: #eb9f0e;
  box-shadow: inset 0px -9px #c76c1b;
}

.rock {
  background-color: #db2e4d;
  box-shadow: inset 0px -9px #9d1634;
}

.title-score {
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  border: solid 3px #5e6a81;
  width: 700px;
  border-radius: 20px;
  padding: 20px 25px 20px 33px;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  width: 155.48px;
  line-height: 0.95;
  text-align: left;
  align-items: center;
}

.score {
  width: 150px;
  height: 114px;
}

.rules-button {
  position: absolute;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  width: 128px;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 2%;
  border: solid 0.5px #ffffff;
  border-radius: 15px;
}
